<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roam.reactnative">

    <application>
        <receiver
            android:name="com.roam.reactnative.RNRoamReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.roam.android.RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>